@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: gray;
  color:white;
}

div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container {
  position: absolute; /* mbia a position: absolute */
  top: 80%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  background-color: coral;
  color:black;
  border-radius: 3px;
}