<div>
  <h1 class="text-center text-3xl text-pretty">CURSO DE ANGULAR</h1>
  <h5 class="text-center mt-3">Que es angular?</h5>
  <p class="mt-1">
    Angular es un popular framework de desarrollo de aplicaciones web de código
    abierto y basado en TypeScript, mantenido por Google. Se utiliza para crear
    aplicaciones web de una sola página (SPA) y aplicaciones de línea de negocio
    (LOB). Angular proporciona un conjunto de herramientas y características que
    facilitan la creación de aplicaciones web complejas y dinámicas. Algunas de
    sus características principales incluyen enlace de datos bidireccional,
    inyección de dependencias, enrutamiento, manipulación del DOM, y una
    arquitectura modular que fomenta la reutilización del código. Angular sigue
    el patrón de diseño MVC (Modelo-Vista-Controlador) para organizar el código
    de la aplicación.
  </p>
</div>

<div class="button-container text-center mt-15 rounded-sm py-3 px-2">
  <a routerLink="/#">COMENZAR CURSO</a>
</div>
