<div class="msg-wel">
  @if(isLoggedIn){
    <p>Bienvenido, {{username}}</p><button (click)="logout()" >SALIR</button>
  } @else {
    <p>No se ha regisrado usuario, por favor Ingrese</p><h3 (click)="changeState()"><button>AQUI</button></h3>
  }
</div>

<div class="input-container">
  <input type="number" placeholder="Ingrese número..." #number />
  <button (click)="traslateNumber(number.value)" class="translate-button">Translate</button>
  <button (click)="resetTraslate()" class="translate-button">reset</button>
</div>

<div class="output-container">
  <p class="output-text">Output: {{ result }}</p>
</div>

